<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verysoft.louis.myandroidlabs" >

    <!--
        AndroidManifest.xml文件解析
        http://www.cnblogs.com/pilang/archive/2011/04/20/2022932.html
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--
            主题theme的玩法：http://www.cnblogs.com/zhouyou96/p/5323138.html
        -->

        <!--四大基本组件：Activity, ContentProvider, Service, BroadcastReceiver-->
        <!--组件必须在Manifest.xml文件中说明-->
        <activity android:name=".MainActivity" android:label="@string/title_activity_main" >
            <intent-filter>
                <!--应用程序的入口点-->
                <action android:name="android.intent.action.MAIN" />
                <!--启动项 决定应用程序是否显示在程序列表里-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MessageShow.ToastDemoActivity" android:label="@string/title_activity_toast" />
        <activity android:name=".ControlUI.ControlUI" android:label="@string/title_activity_control_ui" />
        <activity android:name=".ControlUI.XmlUI" android:label="@string/title_activity_xml_ui" />
        <activity android:name=".ControlUI.CodeUI" android:label="@string/title_activity_code_ui" />
        <activity android:name=".LayoutMgr.LayoutMgr" android:label="@string/title_activity_layout_mgr" />
        <activity android:name=".BasicComponent.BasicComponent" android:label="@string/title_activity_basic_component" />
        <activity android:name=".NotificationActivity" android:label="@string/title_activity_notification" />
        <activity android:name=".AlertDialogActivity" android:label="@string/title_activity_alert_dialog" />
        <activity android:name=".ButtonEventDemoActivity" android:label="Button Event Demo" />
        <activity android:name=".LoginUI.LoginBasicLayout" android:label="Login Basic Layout" />

        <activity android:name=".ImageDemoActivity" android:label="Image Demo" />
        <activity android:name=".OptionControlActivity" android:label="Option Control Demo" />
        <activity android:name=".TouchEventForViewActivity" android:label="触屏演示" />
        <activity android:name=".LayoutMgr.LinearLayoutDemoActivity" android:label="线性布局演示" />
        <activity android:name=".LayoutMgr.LinearLayoutDemo2Activity" android:label="线性布局演示2，动态改变对齐方式" />
        <activity android:name=".LayoutMgr.RelativeLayoutDemoActivity" android:label="相对布局演示" />
        <activity android:name=".LayoutMgr.RelativeLayoutDemo2Activity" android:label="相对布局演示2" />
        <activity android:name=".LoginUI.LoginDemoLayout" android:label="登录界面（线性与相对布局组合嵌套）" />

        <activity android:name=".LayoutMgr.TableLayoutActivity" android:label="表格布局 基础用法" />
        <activity android:name=".LayoutMgr.TableLayoutDemoActivity" android:label="表格布局，列的扩展、收缩，折叠（隐藏）" />

        <activity android:name=".LayoutMgr.GridLayoutDemoActivity" android:label="网格布局" />

        <activity android:name=".LayoutMgr.FrameLayoutDemo" android:label="帧布局" />
        <activity android:name=".LayoutMgr.DrawerLayoutDemoActivity" android:label="侧滑菜单布局" />

        <activity android:name=".LayoutMgr.ScrollViewDemoActivity" android:label="ScrollView滚动条控件" />

        <activity android:name=".DemoActivity" android:label="演示主界面" />
        <activity android:name=".DemoTest.MaskDemo" android:label="遮罩效果的实现" />

        <activity android:name=".DemoTest.CustomButtonActivity" android:label="圆角镂空按钮"/>
    </application>

</manifest>
