<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verysoft.louis.myandroidlabs" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToastActivity"
            android:label="@string/title_activity_toast" >
        </activity>
        <activity
            android:name=".ControlUI.ControlUI"
            android:label="@string/title_activity_control_ui" >
        </activity>
        <activity
            android:name=".ControlUI.XmlUI"
            android:label="@string/title_activity_xml_ui" >
        </activity>
        <activity
            android:name=".ControlUI.CodeUI"
            android:label="@string/title_activity_code_ui" >
        </activity>
        <activity
            android:name=".LayoutMgr.LayoutMgr"
            android:label="@string/title_activity_layout_mgr" >
        </activity>
        <activity
            android:name=".BasicComponent.BasicComponent"
            android:label="@string/title_activity_basic_component" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".AlertDialogActivity"
            android:label="@string/title_activity_alert_dialog" >
        </activity>
        <activity
            android:name=".ButtonEventDemoActivity"
            android:label="Button Event Demo">
        </activity>
        <activity
            android:name=".LoginUI.LoginBasicLayout"
            android:label="Login Basic Layout">
        </activity>
        <activity android:name=".ImageDemoActivity" android:label="Image Demo" />
        <activity android:name=".OptionControlActivity" android:label="Option Control Demo" />
        <activity android:name=".TouchEventForViewActivity" android:label="触屏演示" />
        <activity android:name=".LayoutMgr.LinearLayoutDemoActivity" android:label="线性布局演示" />
        <activity android:name=".LayoutMgr.LinearLayoutDemo2Activity" android:label="线性布局演示2，动态改变对齐方式" />
        <activity android:name=".LayoutMgr.RelativeLayoutDemoActivity" android:label="相对布局演示" />
        <activity android:name=".LayoutMgr.RelativeLayoutDemo2Activity" android:label="相对布局演示2" />
        <activity android:name=".LoginUI.LoginDemoLayout" android:label="登录界面（线性与相对布局组合嵌套）" />

        <activity android:name=".LayoutMgr.TableLayoutActivity" android:label="表格布局 基础用法" />
        <activity android:name=".LayoutMgr.TableLayoutDemoActivity" android:label="表格布局，列的扩展、收缩，折叠（隐藏）" />
    </application>

</manifest>
